<% extend("../app.ejs") %>
    <section class="mt-3">
        <div class="container-fluid">
            <div class="row" >
                <div class="col-2">
                    <div class="homepage-logo mt-2">
                        <img class="menu-nav" src="../images/background/menu-nav.png" alt="img logo">
                        <span>Doctors care</span>
                    </div>
                    <div class="home-nav">
                        <div class="nav-item">
                            <% if(user){%>
                                <a href="/users" target="_blank">Báo cáo</a>

                                <%} else {%>
                                    <a href="/login">Đăng nhập</a>
                                    <% }%>
                        </div>
                    </div>
                </div>
                <div class="col-8 d-none d-md-block d-md-flex justify-content-between ">
                    <div class="d-flex flex-column">
                        <span style="font-weight: bold;">Chuyên khoa</span>
                        <span>Tìm kiếm theo bác sĩ chuyên khoa</span>
                    </div>
                    <div class="d-flex flex-column">
                        <span style="font-weight: bold;">Cơ sở y tế</span>
                        <span>Chọn bệnh viện, phòng khám phù hợp</span>
                    </div>
                    <div class="d-flex flex-column">
                        <span style="font-weight: bold;">Bác sĩ</span>
                        <span>Lựa chọn bác sĩ giỏi, uy tín</span>
                    </div>
                    <div class="d-flex flex-column">
                        <span style="font-weight: bold;">Gói khám</span>
                        <span>Chi phí hợp lý</span>
                    </div>
                </div>
                <div class="col-2 d-flex justify-content-center align-items-center">
                    <span>
                        <a href="https://www.facebook.com/mikes1319" target="_blank" class="text-decoration-none"
                            style="color: #6c757d; transition: color 0.3s ease;"
                            onmouseover="this.style.color='#003366'; this.style.textDecoration='underline';"
                            onmouseout="this.style.color='#6c757d'; this.style.textDecoration='none';">
                            Hỗ trợ?
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </section>
    <section class="sec-header d-flex flex-column">
        <div class="img-header d-flex flex-column mt-3 ">
            <div class="text-center mt-5">
                <span style="font-size: 30px; color: #4f3c8d; font-weight: bold; margin-top: 10px;">
                    Khám phá – Lựa chọn – Đặt khám dễ dàng
                </span>
            </div>

            <div class="header-search align-self-center justify-content-center mt-5">
                <i class="fa fa-search"></i>
                <label for="input-search"></label>
                <input id="input-search" placeholder="Tìm kiếm thông tin...">
                <div id="show-info-search" class="show-info-search">
                </div>
            </div>
        </div>
        <div class="content-header d-flex  justify-content-between title-and-icon align-items-center">
            <div class="d-flex flex-column ml-5 pl-5 align-items-center">
                <i class="fa fa-check"></i>
                <span>Bệnh viện uy tín</span>
            </div>
            <div class="d-flex flex-column align-items-center">
                <i class="fa fa-thumbs-up"></i>
                <span>Phòng khám chất lượng</span>
            </div>
            <div class="d-flex flex-column align-items-center">
                <i class="fa fa-user-md"></i>
                <span>Bác sĩ nổi bật</span>
            </div>
            <div class="d-flex flex-column mr-5 pr-5 align-items-center">
                <i class="fa fa-clock-o"></i>
                <span>Ưu tiên khám nhanh</span>
            </div>
        </div>
    </section>
    <section class="sec-fields-hospital d-flex flex-column">
        <div class="sec-fields-title mx-auto d-flex my-3">
            <h2 class=""> Chuyên khoa phổ biến</h2>
            <a class="flex-grow-1 my-auto"><span class="d-block show-all-specializations">Tất cả chuyên khoa</span></a>
        </div>
        <div class="section-slide">
            <div class="slider slider-nav text-decoration-none">
                <% specializations.forEach(function(x) { %>
                    <a href="/detail/specialization/<%= x.id %>" class="a-specialization text-decoration-none"
                        style="outline: none">
                        <div class="d-flex flex-column slide-fields specialization" data-specialization="<%= x.id %>">
                            <img src="/images/specializations/<%= x.image %>" alt="image bla bla">
                            <h3 class="text-decoration-none">
                                <%= x.name %>
                            </h3>
                        </div>
                    </a>
                    <% }) %>
            </div>
        </div>
    </section>
    <section class="sec-hospitals">
        <div class="sec-fields-title mx-auto d-flex my-3">
            <h2 class="">Phòng khám hàng đầu</h2>
            <a class="flex-grow-1 my-auto"><span class="d-block show-all-clinics">Tất cả phòng khám</span></a>
        </div>
        <div class="section-slide">
            <div class="slider slider-nav text-decoration-none">
                <% clinics.forEach(function(clinic) { %>
                    <a href="/detail/clinic/<%= clinic.id %>" class="text-decoration-none" style="outline: none">
                        <div class="d-flex flex-column slide-fields clinics" data-clinic="<%= clinic.id %>">
                            <img src="/images/clinics/<%= clinic.image %>" alt="image bla bla">
                            <h3>
                                <%= clinic.name %>
                            </h3>
                        </div>
                    </a>
                    <% }) %>
            </div>
        </div>
    </section>
    <section class="sec-doctors">
        <div class="sec-fields-title mx-auto d-flex my-3">
            <h2 class="">Bác sĩ nổi bật</h2>
            <a class="flex-grow-1 my-auto"><span class="d-block show-all-doctors">Tất cả bác sĩ</span></a>
        </div>
        <div class="section-slide">
            <div class="slider slider-nav text-decoration-none">
                <% doctors.forEach(function(doctor) { %>
                    <a href="/detail/doctor/<%= doctor.id %>" class="text-decoration-none" style="outline: none">
                        <div class="slide-doctors text-decoration-none">
                            <div class="doctor-avatar">
                                <img src="/images/users/<%= doctor.avatar %>" alt="image bla bla">
                                <h3 style="color: black">
                                    <%= doctor.name %>
                                </h3>
                                <h4 style="color: black">
                                    <%= doctor.getDataValue('specializationName') %>
                                </h4>
                                <span title="Counting the number of patients have been booked" style="color: #0056b3">
                                    <%= doctor.getDataValue('countBooking') %> bệnh nhân (đã đặt)
                                </span>
                            </div>
                        </div>
                    </a>
                    <% }) %>
            </div>
        </div>
    </section>
    <section class="sec-posts">
        <div class="sec-fields-title mx-auto d-flex my-3">
            <h2 class="">Cẩm nang y tế</h2>
            <a class="flex-grow-1 my-auto text-decoration-none" href="/all-posts"><span
                    class="d-block text-decoration-none">Tất cả bài viết</span></a>
        </div>
        <div class="section-slide">
            <div class="slider slider-nav-posts">
                <% posts.forEach(function(post) { %>
                    <a href="/detail/post/<%= post.id %>" class="text-decoration-none" style="outline: none">
                        <div class="d-flex flex-row slide-post">
                            <div class="img-post">
                                <img src="https://cdn.bookingcare.vn/fr/w500/2018/06/18/113541benh-vien-bao-son.jpg"
                                    alt="image bla bla">
                            </div>
                            <div class="content-post">
                                <h3>
                                    <%= post.title %>
                                </h3>
                                <p>
                                    <%= post.getDataValue('content') %>
                                </p>
                            </div>
                        </div>
                    </a>
                    <% }) %>
            </div>
        </div>
    </section>
    <section class="sec-for-doctors">

        <div class="d-flex flex-row mx-auto main-for-doctors">
            <div class="d-flex flex-column col-5">
                <h1 class="mt-4">Liên hệ hợp tác</h1>
                <span class="mt-3 mb-1">Tạo dựng thương hiệu y tế vững mạnh trên nền tảng số</span>
                <span>Thu hút bệnh nhân, quản lý tối ưu</span>
                <a href="/contact" class="mt-5 pd-3 contact-admin text-decoration-none">Liên hệ hợp tác</a>
            </div>
            <div class="col-7 d-flex justify-content-end" style="padding-top: 5px">
                <iframe width="500" height="290" src="https://www.youtube.com/embed/25PzpAdndSs" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>

    </section>

    <!-- Modal show all specializations-->
    <div class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
        id="modalAllSpecializations">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tất cả chuyên khoa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row all-specializations-body px-2">
                        <% specializations.forEach(function(x) { %>
                            <div class="col-12 col-spe pl-3"><a href="/detail/specialization/<%= x.id %>"
                                    class="text-decoration-none">
                                    <%= x.name %>
                                </a></div>
                            <% }) %>
                                <div class="col-12 col-spe pl-3"><a href="/all-specializations"
                                        class="text-decoration-none">Xem tất cả</a></div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btn-confirm-booking-spe"
                        data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal show all clinics-->
    <div class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
        id="modalAllClinics">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tất cả phòng khám</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row all-specializations-body px-2">
                        <% clinics.forEach(function(x) { %>
                            <div class="col-12 col-spe pl-3"><a href="/detail/clinic/<%= x.id %>"
                                    class="text-decoration-none">
                                    <%= x.name %>
                                </a></div>
                            <% }) %>
                                <div class="col-12 col-spe pl-3"><a href="/all-clinics" class="text-decoration-none">Xem
                                        tất cả</a></div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btn-confirm-booking-spe"
                        data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal show all doctors-->
    <div class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
        id="modalAllDoctors">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tất cả bác sĩ</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row all-doctors-body px-2">
                        <% doctors.forEach(function(x) { %>
                            <div class="col-12 col-spe pl-3"><a href="/detail/doctor/<%= x.id %>"
                                    class="text-decoration-none">
                                    <%= x.name %>
                                </a></div>
                            <% }) %>
                    </div>
                    <div class="row all-doctors-body px-2">
                        <div class="col-12 col-spe pl-3"><a href="/all-doctors %>" class="text-decoration-none">Xem tất
                                cả</a></div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btn-confirm-booking-spe"
                        data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>